*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(155, 139, 109);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 50%;
    margin: 0px auto;
}

form{
    border: 2px gray solid;
    border-radius: 6px;
    padding: 10px;
    background-color: aliceblue;
}

form .input-group{
    padding: 5px;
}form input{
    border: .5px solid gray;
    border-radius: 3px;
}
form #divBtnSubmit{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
form #divBtnSubmit button{
    padding: 5px 10px;
    background-color: rgb(100, 100, 100);
    border: .5px solid gray;
    border-radius: 3px;
    color: aliceblue;
    font-weight: 600;
}
form #divBtnSubmit button:hover{
    transition: .4s;
    background-color: rgb(83, 83, 83);

}


.usuarios{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
.usuario{
    width: 90%;
    border: 1px black solid;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: aliceblue;
    display: flex;

}

.imgUser{
    width: 60px;
    margin-right: 10px;
}

.divDadosUser{
    display: flex;
    flex-direction: column;
}

.divCloseBtn{
    margin-left: auto;
    margin-bottom: 20px;
}
.closeBtn{
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
    border-radius: 100%;
}.closeBtn:hover{
    cursor: pointer;
    padding: 5.5px;
}
